# tsai==0.3.5
bottle<1.0.0
bottle-websocket<1.0.0
gevent
gevent-websocket<1.0.0
greenlet>=1.0.0,<2.0.0
pyparsing>=3.0.0,<4.0.0
whichcraft~=0.4.1
ipdb==0.13.13
xlrd==2.0.1
xlwt==1.3.0
xlutils==2.0.0
einops==0.6.0
tsaug==0.2.1
scikit-learn==1.3.0
tslearn==0.6.3
matplotlib==3.7.1
bitsandbytes
pandas
sktime
pyts
# peft==0.8.2
# transformers==4.37.2
# PyWavelets==1.4.1
# fastai==2.7.14