<div>
    <div class="navbar no-radius">
      <a class="navbar-brand" href="pretrain.models.html">
        <svg width="64" height="64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" style="background-color:transparent;">
          <g fill="none" fill-rule="evenodd">
            <circle cx="32" cy="32" r="31" stroke="#0099FF" stroke-width="4" fill="#E8F1FA"/>
            <path stroke="#0099FF" stroke-width="4" d="M10 37.5L14.5 33l10.5 10.5L44.5 26l5.5 5.5" fill="#0099FF"/>
          </g>
        </svg>
        <img src="../assets/images/logo.png" alt="." class="hide">
        <span class="hidden-folded inline">UniTS</span>
      </a>
    </div>
    <div class="hide-scroll" data-flex>
      <nav class="scroll nav-border b-primary">
        <ul class="new-nav" ui-nav>
            <li class="nav-header hidden-folded">
              <small class="text-muted">Main</small>
            </li>
            
            <li>
              <a href="pretrain.models.html" >
                <span class="nav-icon">
                  <i class="material-icons">&#xe3fc;
                    <span ui-include="'../assets/images/i_0.svg'"></span>
                  </i>
                </span>
                <span class="nav-text">Pre-training</span>
              </a>
            </li>
        
            <li>
              <a>
                <span class="nav-caret">
                  <i class="fa fa-caret-down"></i>
                </span>
                <span class="nav-icon">
                  <i class="material-icons">&#xe5c3;
                    <span ui-include="'../assets/images/i_1.svg'"></span>
                  </i>
                </span>
                <span class="nav-text">Analysis Task</span>
              </a>
              <ul class="nav-sub">
                <li>
                  <a href="classification.html" >
                    <span class="nav-text">Classification</span>
                  </a>
                </li>
                <li>
                  <a href="clustering.html" >
                    <span class="nav-text">Clustering</span>
                  </a>
                </li>
                <li>
                  <a href="anomaly.detection.html" >
                    <span class="nav-text">Amomaly Detection</span>
                  </a>
                </li>
                <li>
                  <a href="prediction.html" >
                    <span class="nav-text">Forecasting</span>
                  </a>
                </li>
                <li>
                  <a href="imputation.html" >
                    <span class="nav-text">Imputation</span>
                  </a>
                </li>
              </ul>
            </li>
        
            <!-- <li class="nav-header hidden-folded">
              <small class="text-muted">Help</small>
            </li>
            
            <li class="hidden-folded" >
              <a href="docs.html" >
                <span class="nav-text">Documents</span>
              </a>
            </li> -->
        
          </ul>
        </nav>
    </div>
  </div>

  <style>
    .new-nav {
      margin-left: 2%;
      margin-right: 5%;
    }
    .nav-sub {
      margin-left: 10%;
    }
  </style>